* {
    accent:             #81a1c1;
    accent-alt:         #88c0d0;
    background:         #3b4252d9;
    background-alt:     #4c566ad9;
    foreground:         #eceff4;
    foreground-alt:     #d8dee9;
    urgent:             #bf616a;
    urgent-alt:         #d08770;

    toggle-on:          #a3be8c;
    toggle-off:         #bf616a;
}
