* {
    accent:             #81a1c1;
    accent-alt:         #88c0d0;
    background:         #eceff4f2;
    background-alt:     #d8dee9f2;
    foreground:         #3b4252;
    foreground-alt:     #4c566a;
    urgent:             #bf616a;
    urgent-alt:         #d08770;
}
