* {
    accent:             #88c0d0;
    accent-alt:         #81a1c1;
    background:         #4c566ad9;
    background-alt:     #3b4252d9;
    foreground:         #eceff4;
    foreground-alt:     #d8dee9;
    urgent:             #bf616a;
    urgent-alt:         #d08770;

    toggle-on:          #d8dee9;
    toggle-off:         #3b4252;
}
