* {
    accent:             #c88faeb3;
    accent-alt:         #68bbdfb3;
    background:         #f2f2f2cc;
    background-alt:     #f2f2f2;
    foreground:         #4c566a;
    foreground-alt:     #999999;
    toggle-on:          #68bbdfb3;
    toggle-off:         #b51d09b3;
    urgent:             #b51d09b3;
    urgent-alt:         #d37430b3;
}
