@import "common/popup_menu.rasi"

* {
    font:               @icon-font;
}

#window {
    width:              @popup-3-width;
    height:             @popup-3-height;
    padding:            @popup-3-window-padding;
}

#listview {
    layout:             horizontal;
    lines:              3;
    fixed-height:       true;
    cycle:              true;
    spacing:            @popup-3-listview-spacing;
}

#element {
    horizontal-align:   0.5;
    vertical-align:     0.5;
}
