@import "common/list_menu.rasi"

#prompt {
    font:               @icon-font-xsmall;
}

#window {
    width:              @apps-window-width;
    location:           south west;
    anchor:             south west;
    y-offset:           @apps-y-offset;
}

#mainbox {
    children:           [ listview, inputbar ];
}

#textbox-separator {
	str:				"  : :  ";
}

#listview {
    lines:              12;
    dynamic:            false;
}
