@import "common/popup_menu.rasi"

#window {
    width:              @popup-3-width;
}

#listview {
    lines:              3;
    fixed-height:       true;
    cycle:              true;
    spacing:            @popup-3-listview-spacing;
}
