@import "common/list_menu.rasi"

#window {
    location:           center;
    anchor:             north;
    y-offset:           @list-y-offset;
}

#textbox-separator {
	str:				"  : :  ";
}

#listview {
    lines:              5;
}
