@import "common/list_menu.rasi"

* {
    font:               @text-font-small;
}

#window {
    width:              65ch;
    location:           south east;
    anchor:             south east;
    y-offset:           @polybar-offset;
}

#mainbox {
    children:           [ listview, inputbar ];
}

#textbox-separator {
	str:				"    ";
}

#listview {
    lines:              10;
}

#element {
    font:               @text-font-mono;
}
