/*
 * Use this file to set colour scheme globally.
 * Every other .rasi file should import this.
 */

@import "colorschemes/nord_dark.rasi"
@import "resolutions/1920x1080.rasi"

* {
    background-color:   transparent;
    text-color:         @foreground;
}

#window {
    transparency:       "real";
    background-color:   @background;
}

#element.selected {
    background-color:   @background-alt;
}
